/*
====================================
  breadcrumb
====================================
*/

.breadcrumb {
  font-size: 11px;
  border-radius: 0;
  margin-top: 40px;
  margin-bottom: 35px;
  padding: 6px 15px;
  background-color: #f6f7f8;
}