/*
====================================
  buttons
====================================
*/

.btn-primary {
  color: #fff;
  background-color: #5664d2;
  border-color: #5664d2; }
.btn-primary:hover {
  color: #fff;
  background-color: #3848ca;
  border-color: #3444c1; }
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #3848ca;
  border-color: #3444c1;
  box-shadow: 0 0 0 0.15rem rgba(111, 123, 217, 0.5); }
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #5664d2;
  border-color: #5664d2; }
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3444c1;
  border-color: #3140b7; }
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(111, 123, 217, 0.5); }

.btn-secondary {
  color: #fff;
  background-color: #74788d;
  border-color: #74788d; }
.btn-secondary:hover {
  color: #fff;
  background-color: #636678;
  border-color: #5d6071; }
.btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  background-color: #636678;
  border-color: #5d6071;
  box-shadow: 0 0 0 0.15rem rgba(137, 140, 158, 0.5); }
.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #74788d;
  border-color: #74788d; }
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #5d6071;
  border-color: #575a6a; }
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(137, 140, 158, 0.5); }

.btn-success {
  color: #fff;
  background-color: #1cbb8c;
  border-color: #1cbb8c; }
.btn-success:hover {
  color: #fff;
  background-color: #179a73;
  border-color: #158f6b; }
.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #179a73;
  border-color: #158f6b;
  box-shadow: 0 0 0 0.15rem rgba(62, 197, 157, 0.5); }
.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #1cbb8c;
  border-color: #1cbb8c; }
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #158f6b;
  border-color: #148462; }
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(62, 197, 157, 0.5); }

.btn-info {
  color: #fff;
  background-color: #4aa3ff;
  border-color: #4aa3ff; }
.btn-info:hover {
  color: #fff;
  background-color: #2490ff;
  border-color: #1789ff; }
.btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #2490ff;
  border-color: #1789ff;
  box-shadow: 0 0 0 0.15rem rgba(101, 177, 255, 0.5); }
.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #4aa3ff;
  border-color: #4aa3ff; }
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #1789ff;
  border-color: #0a83ff; }
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(101, 177, 255, 0.5); }

.btn-warning {
  color: #fff;
  background-color: #fcb92c;
  border-color: #fcb92c; }
.btn-warning:hover {
  color: #fff;
  background-color: #fbac06;
  border-color: #f2a503; }
.btn-warning:focus, .btn-warning.focus {
  color: #fff;
  background-color: #fbac06;
  border-color: #f2a503;
  box-shadow: 0 0 0 0.15rem rgba(252, 196, 76, 0.5); }
.btn-warning.disabled, .btn-warning:disabled {
  color: #fff;
  background-color: #fcb92c;
  border-color: #fcb92c; }
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #f2a503;
  border-color: #e59c03; }
.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(252, 196, 76, 0.5); }

.btn-danger {
  color: #fff;
  background-color: #ff3d60;
  border-color: #ff3d60; }
.btn-danger:hover {
  color: #fff;
  background-color: #ff1741;
  border-color: #ff0a36; }
.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #ff1741;
  border-color: #ff0a36;
  box-shadow: 0 0 0 0.15rem rgba(255, 90, 120, 0.5); }
.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #ff3d60;
  border-color: #ff3d60; }
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff0a36;
  border-color: #fc002e; }
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(255, 90, 120, 0.5); }

.btn-light {
  color: #212529;
  background-color: #eff2f7;
  border-color: #eff2f7; }
.btn-light:hover {
  color: #212529;
  background-color: #d6ddea;
  border-color: #cdd6e6; }
.btn-light:focus, .btn-light.focus {
  color: #212529;
  background-color: #d6ddea;
  border-color: #cdd6e6;
  box-shadow: 0 0 0 0.15rem rgba(208, 211, 216, 0.5); }
.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #eff2f7;
  border-color: #eff2f7; }
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #cdd6e6;
  border-color: #c5cfe2; }
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(208, 211, 216, 0.5); }

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124; }
.btn-dark:focus, .btn-dark.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.15rem rgba(82, 88, 93, 0.5); }
.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }
.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d; }
.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(82, 88, 93, 0.5); }

.btn-pink {
  color: #fff;
  background-color: #e83e8c;
  border-color: #e83e8c; }
.btn-pink:hover {
  color: #fff;
  background-color: #e41c78;
  border-color: #d91a72; }
.btn-pink:focus, .btn-pink.focus {
  color: #fff;
  background-color: #e41c78;
  border-color: #d91a72;
  box-shadow: 0 0 0 0.15rem rgba(235, 91, 157, 0.5); }
.btn-pink.disabled, .btn-pink:disabled {
  color: #fff;
  background-color: #e83e8c;
  border-color: #e83e8c; }
.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: #d91a72;
  border-color: #ce196c; }
.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(235, 91, 157, 0.5); }

.btn-outline-primary {
  color: #5664d2;
  border-color: #5664d2; }
.btn-outline-primary:hover {
  color: #fff;
  background-color: #5664d2;
  border-color: #5664d2; }
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.15rem rgba(86, 100, 210, 0.5); }
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #5664d2;
  background-color: transparent; }
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #5664d2;
  border-color: #5664d2; }
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(86, 100, 210, 0.5); }

.btn-outline-secondary {
  color: #74788d;
  border-color: #74788d; }
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #74788d;
  border-color: #74788d; }
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.15rem rgba(116, 120, 141, 0.5); }
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #74788d;
  background-color: transparent; }
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #74788d;
  border-color: #74788d; }
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(116, 120, 141, 0.5); }

.btn-outline-success {
  color: #1cbb8c;
  border-color: #1cbb8c; }
.btn-outline-success:hover {
  color: #fff;
  background-color: #1cbb8c;
  border-color: #1cbb8c; }
.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.15rem rgba(28, 187, 140, 0.5); }
.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #1cbb8c;
  background-color: transparent; }
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #1cbb8c;
  border-color: #1cbb8c; }
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(28, 187, 140, 0.5); }

.btn-outline-info {
  color: #4aa3ff;
  border-color: #4aa3ff; }
.btn-outline-info:hover {
  color: #fff;
  background-color: #4aa3ff;
  border-color: #4aa3ff; }
.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.15rem rgba(74, 163, 255, 0.5); }
.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #4aa3ff;
  background-color: transparent; }
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #4aa3ff;
  border-color: #4aa3ff; }
.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(74, 163, 255, 0.5); }

.btn-outline-warning {
  color: #fcb92c;
  border-color: #fcb92c; }
.btn-outline-warning:hover {
  color: #fff;
  background-color: #fcb92c;
  border-color: #fcb92c; }
.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.15rem rgba(252, 185, 44, 0.5); }
.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #fcb92c;
  background-color: transparent; }
.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #fcb92c;
  border-color: #fcb92c; }
.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(252, 185, 44, 0.5); }

.btn-outline-danger {
  color: #ff3d60;
  border-color: #ff3d60; }
.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff3d60;
  border-color: #ff3d60; }
.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.15rem rgba(255, 61, 96, 0.5); }
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #ff3d60;
  background-color: transparent; }
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff3d60;
  border-color: #ff3d60; }
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(255, 61, 96, 0.5); }

.btn-outline-light {
  color: #eff2f7;
  border-color: #eff2f7; }
.btn-outline-light:hover {
  color: #212529;
  background-color: #eff2f7;
  border-color: #eff2f7; }
.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.15rem rgba(239, 242, 247, 0.5); }
.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #eff2f7;
  background-color: transparent; }
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #eff2f7;
  border-color: #eff2f7; }
.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(239, 242, 247, 0.5); }

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40; }
.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }
.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.15rem rgba(52, 58, 64, 0.5); }
.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent; }
.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }
.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(52, 58, 64, 0.5); }

.btn-outline-pink {
  color: #e83e8c;
  border-color: #e83e8c; }
.btn-outline-pink:hover {
  color: #fff;
  background-color: #e83e8c;
  border-color: #e83e8c; }
.btn-outline-pink:focus, .btn-outline-pink.focus {
  box-shadow: 0 0 0 0.15rem rgba(232, 62, 140, 0.5); }
.btn-outline-pink.disabled, .btn-outline-pink:disabled {
  color: #e83e8c;
  background-color: transparent; }
.btn-outline-pink:not(:disabled):not(.disabled):active, .btn-outline-pink:not(:disabled):not(.disabled).active,
.show > .btn-outline-pink.dropdown-toggle {
  color: #fff;
  background-color: #e83e8c;
  border-color: #e83e8c; }
.btn-outline-pink:not(:disabled):not(.disabled):active:focus, .btn-outline-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(232, 62, 140, 0.5); }

.btn-link {
  font-weight: 400;
  color: #5664d2;
  text-decoration: none; }
.btn-link:hover {
  color: #2e3dad;
  text-decoration: underline; }
.btn-link:focus, .btn-link.focus {
  text-decoration: underline; }
.btn-link:disabled, .btn-link.disabled {
  color: #74788d;
  pointer-events: none; }