/*
====================================
  editor summernote
====================================
*/

.note-editor {
  .note-toolbar {
    .note-btn {
      padding: 2px 8px;
      font-size: 12px;
      color: #686868;
      background-color: #fff;
    }

    .dropdown-item h5 {
      font-size: 20px !important;
    }

    .dropdown-item h6 {
      font-size: 16px !important;
    }
  }

  .note-editable {
    font-weight: 400;

    * {
      background-color: transparent !important;
      color: inherit !important;
      line-height: 1.5 !important;
      font-family: Roboto, sans-serif !important;
      font-size: 13px !important;
    }

    h5 {
      font-size: 20px !important;
    }

    h6 {
      font-size: 16px !important;
    }

    ul {
      padding-left: 40px;
      list-style: disc;
    }

    p, ul {
      margin-bottom: 10px;
    }

    b, strong {
      font-weight: 700;
      color: #000;
    }

    sub, sup {
      position: relative;
      font-size: 75% !important;
      line-height: 0 !important;
      vertical-align: baseline !important;
    }

    img {
      margin-bottom: 10px;
    }
  }
}