/*
====================================
  pagination
====================================
*/

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #5664d2;
  border-color: #5664d2;
}